---
import BaseHead from '../BaseHead.astro';
---

<html lang="en">
  <head>
    <BaseHead title="Home" description="My page" />
  </head>

  <body>
    <main class="min-h-screen bg-gray-2">
      <slot />
    </main>
  </body>
</html>
